.link-block-2 {
    top: -15px;
    padding: 10px;
}
.gallerytile.gallerytile5 {
    background-image: url('../images/dch-themes-800x500.jpg');
}
/* .gallerytile.gallerytile5 {
    background-image: url('../images/web-components-800x500.jpg');
} */
